/* Video arka plan */
#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 1000vw;
  height: 113vh;
  object-fit: contain;
  background-color: #000;
  z-index: -2;
}

/* Genel siyah tema */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

/* Söz kutusu */
.quote-box {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 90%;
  z-index: 1;
}

#quote {
  font-size: 18px;
  color: #ff0000;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #ff0000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #cc0000;
}

/* Blur sadece mobilde aktif */
@media (max-width: 600px) {
  .top-blur, .bottom-blur {
    position: fixed;
    left: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    z-index: -1;
  }

  .top-blur {
    top: 0;
  }

  .bottom-blur {
    bottom: 0;
  }

  .top-blur video,
  .bottom-blur video {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    filter: blur(20px);
    transform: scaleY(1.1);
    opacity: 0.5;
  }
}

/* PC'de blur alanları tamamen gizle */
@media (min-width: 601px) {
  .top-blur,
  .bottom-blur {
    display: none;
  }
}
